.ScanningSection {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 10px;
}

@media (min-height: 500px) {
    .ScanningSection {
        padding: 10px;
    }
}

.ScanningSection__app-bar-earn-for-amount {
    background-color: white;
    border: solid 2px var(--earn-stamp);
    color: var(--earn-stamp);
}

.ScanningSection__app-bar-earn {
    background-color: var(--earn-stamp);
    color: white;
}

.ScanningSection__app-bar-spend {
    background-color: var(--bakemaniaGold);
    color: white;
}

.ScanningSection__app-bar-delete {
    background-color: var(--remove-stamp);
    color: white;
}

.ScanningSection__tabs {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    position: relative;
}

.ScanningSection__tabs-indicator {
    width: 100%;
    height: 20px;
    background-color: currentColor;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 8px;
    letter-spacing: 0.1px;
    font-weight: 600;
    text-transform: uppercase;
    gap: 4px;
}

.ScanningSection__tabs-indicator-short {
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transition: background-color 0.2s ease;
    display: flex;
}

.ScanningSection__tabs-indicator {
    display: none;
}

@media (min-height: 500px) {
    .ScanningSection__tabs-indicator {
        display: flex;
    }

    .ScanningSection__tabs-indicator-short {
        display: none;
    }
}