.users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.users-list__title {}

.users-list__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

}

.users-list__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    width: 100%;
    gap: 6px;
}

.users-list__item-left-col {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.users-list__item-content {
    display: block;
}

.users-list__item-button {
    padding-left: 16px;
    padding-right: 16px;
}