.settings-section-field {
    width: 100%;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: stretch;
}


.settings-section-field__settings-button {
    display: flex;
    align-items: center;
    gap: 16px;
    background: transparent;
    border: solid 1px var(--text);
    cursor: pointer;
    padding-left: 20px;
}

.settings-section-field__settings-button span {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    padding-top: 4px;
}